In [7]:
###Counts_Reads_input

import pandas as pd

reads=pd.read_csv('./Data/all_TC_count_gene_name.txt',sep='\t')
reads_assign=reads.dropna(axis=0,subset = ["Assigned_gene_name"])

reads_assign

,TC_ID,wt.1,wt.2,dcp2.1,dcp2.2,dhh1.1,dhh1.2,pat1.1,pat1.2,xrn1.1,xrn1.2,Assigned_gene_name
1,2,0,0,0,0,0,0,46,57,0,0,YAL066W
2,3,40,42,227,229,35,15,117,132,65,77,YAL064W-B
12,13,47,50,35,37,18,20,60,90,41,64,YAL062W
13,14,362,257,200,215,132,232,300,303,102,128,YAL062W
14,15,0,0,0,0,264,234,931,1003,0,0,YAL062W
...,...,...,...,...,...,...,...,...,...,...,...,...
13681,13682,290,230,358,364,91,110,79,78,143,120,YPR194C
13682,13683,153,104,235,213,107,112,71,94,80,89,YPR195C
13694,13695,422,321,1314,1437,543,532,650,721,950,998,YPR199C
13695,13696,21,25,0,0,0,0,0,0,0,0,YPR199C
13696,13697,25,22,63,58,87,105,176,223,67,66,YPR200C

In [30]:
reads_sort=reads_assign.loc[~(reads_assign==0).any(axis=1)]
reads_sort

,TC_ID,wt.1,wt.2,dcp2.1,dcp2.2,dhh1.1,dhh1.2,pat1.1,pat1.2,xrn1.1,xrn1.2,Assigned_gene_name
2,3,40,42,227,229,35,15,117,132,65,77,YAL064W-B
12,13,47,50,35,37,18,20,60,90,41,64,YAL062W
13,14,362,257,200,215,132,232,300,303,102,128,YAL062W
18,19,35,48,127,113,294,363,308,363,45,49,YAL061W
22,23,479,411,1519,1664,1125,1677,3203,3270,1231,1288,YAL060W
...,...,...,...,...,...,...,...,...,...,...,...,...
13679,13680,32,34,357,427,22,29,72,66,77,75,YPR193C
13681,13682,290,230,358,364,91,110,79,78,143,120,YPR194C
13682,13683,153,104,235,213,107,112,71,94,80,89,YPR195C
13694,13695,422,321,1314,1437,543,532,650,721,950,998,YPR199C
13696,13697,25,22,63,58,87,105,176,223,67,66,YPR200C

In [33]:
reads_sort.groupby(by='Assigned_gene_name').sum()

,TC_ID,wt.1,wt.2,dcp2.1,dcp2.2,dhh1.1,dhh1.2,pat1.1,pat1.2,xrn1.1,xrn1.2
Assigned_gene_name,,,,,,,,,,,
Q0045,1944,70,118,68,86,204,205,224,219,224,241
Q0130,1957,762,695,565,466,609,834,703,905,1024,925
Q0250,1960,2307,2709,3583,3432,3559,2263,2849,3636,3880,5543
YAL001C,7083,222,157,424,401,369,421,489,475,325,344
YAL002W,96,324,203,391,427,248,246,430,419,334,323
...,...,...,...,...,...,...,...,...,...,...,...
YPR195C,13683,153,104,235,213,107,112,71,94,80,89
YPR198W,6976,998,881,1941,2244,1743,2282,2016,1958,1253,1485
YPR199C,13695,422,321,1314,1437,543,532,650,721,950,998
YPR200C,13697,25,22,63,58,87,105,176,223,67,66
YPR202W,6987,162,155,582,509,131,187,138,128,288,285