In [241]:
###Combine positive and negative strand list

import pandas as pd

def combine_strand(pos,neg):
    pos_list=pd.read_csv(pos)
    neg_list=pd.read_csv(neg)

    all=[pos_list,neg_list]
    combine=pd.concat(all)
    
    return combine

both=combine_strand('./Data/list/combine/ID/p_pat1_2_id.csv','./Data/list/combine/ID/n_pat1_2_id.csv')
outputpath='./Data/list/combine/ID/combine/pat1_2.csv'
both.to_csv(outputpath,sep=',',index=False,header=True)

In [153]:
###Individual capping rate

import csv

ls=pd.read_csv('./Data/list/combine/ID/combine/wt1.csv')

grouped=ls.groupby(by='ID')

l=[]
fo = open("./Data/list/combine/ID/combine/rate_wt1.csv", "w")
writer = csv.writer(fo)
for name,group in grouped:
    cap=0
    uncap=0
    for i,row in group.iterrows():
        capped=row['capped']
        tag=row['tags']
        gene=row['Assigned_gene']
        if capped==1:
            cap+=tag
        else:
            uncap+=tag
        capping_rate=cap/(cap+uncap)
    l=[name,capping_rate,gene]
    writer.writerow(l)

In [154]:
###Add head and export individual capping rate csv

data=pd.read_csv(r'./Data/list/combine/ID/combine/capping_temp.csv',header=None,names=['ID','xrn1_2','Assigned_gene_name'])
data.to_csv('./Data/list/combine/ID/combine/capping_xrn1_2.csv',index=False)

In [242]:
###Individual capping rate+ tags number

import csv

ls=pd.read_csv('./Data/list/combine/ID/combine/pat1_2.csv')

grouped=ls.groupby(by='ID')

l=[]
fo = open("./Data/list/combine/ID/combine/tags/temp.csv", "w")
writer = csv.writer(fo)
for name,group in grouped:
    cap=0
    uncap=0
    for i,row in group.iterrows():
        capped=row['capped']
        tag=row['tags']
        gene=row['Assigned_gene']
        if capped==1:
            cap+=tag
        else:
            uncap+=tag
        capping_rate=cap/(cap+uncap)
        l=[name,cap,uncap,capping_rate,gene]
    writer.writerow(l)

In [243]:
###Add head and export individual capping rate csv with tag number
data=pd.read_csv(r'./Data/list/combine/ID/combine/tags/temp.csv',header=None,names=['ID','cap','uncap','pat1_2','Assigned_gene_name'])
data.to_csv('./Data/list/combine/ID/combine/tags/pat1_2.csv',index=False)

In [249]:
###Combine rate test

wt1=pd.read_csv('./Data/list/combine/ID/combine/tags/wt1.csv')
wt1_sort=wt1[(wt1['cap']>=20)&(wt1['uncap']>=20)]
df=wt1_sort.drop(wt1_sort.columns[[1,2]],axis=1)
df=wt1_rate.head(10)

wt2=pd.read_csv('./Data/list/combine/ID/combine/tags/wt2.csv')
wt2_sort=wt2[(wt2['cap']>=20)&(wt2['uncap']>=20)]
wt2_rate=wt2_sort.drop(wt2_sort.columns[[1,2]],axis=1)
add=wt2_rate.head(12)
add

    ID       wt2 Assigned_gene_name
3   14  0.751073            YAL062W
6   23  0.650124            YAL060W
7   25  0.603404            YAL059W
9   28  0.552885            YAL056W
11  33  0.573680            YAL053W
12  36  0.420290            YAL051W
15  41  0.586795          YAL044W-A
16  42  0.874590            YAL042W
17  46  0.326693            YAL041W
19  52  0.967696            YAL038W
21  59  0.589286            YAL037W
22  61  0.829981            YAL035W

In [252]:
###Combine rate test result
test=df.merge(add, on=['ID','Assigned_gene_name'],how='outer')
test

    ID       wt1 Assigned_gene_name       wt2
0   14  0.724458            YAL062W  0.751073
1   23  0.681529            YAL060W  0.650124
2   25  0.639464            YAL059W  0.603404
3   27  0.860000            YAL058W       NaN
4   28  0.598039            YAL056W  0.552885
5   33  0.550332            YAL053W  0.573680
6   36  0.360248            YAL051W  0.420290
7   41  0.600000          YAL044W-A  0.586795
8   42  0.873068            YAL042W  0.874590
9   46  0.265152            YAL041W  0.326693
10  52       NaN            YAL038W  0.967696
11  59       NaN            YAL037W  0.589286
12  61       NaN            YAL035W  0.829981

In [285]:
###Combine rate
f=pd.read_csv('./Data/list/combine/ID/combine/all/wt.csv')
sort=f[(f['cap']>=20)&(f['uncap']>=20)]
orig=sort.drop(sort.columns[[1,2]],axis=1)

def merge(file):
    file=pd.read_csv(file)
    sort=file[(file['cap']>=20)&(file['uncap']>=20)]
    add=sort.drop(sort.columns[[1,2]],axis=1)
    df=orig.merge(add, on=['ID','Assigned_gene_name'],how='outer')
    return df

df=merge('./Data/list/combine/ID/combine/all/xrn1.csv')
df.to_csv('./Data/list/combine/ID/combine/all/pair/xrn1.csv',index=False)

KeyError: 'cap'

In [279]:
###sort empty
df=pd.read_csv('./Data/list/combine/ID/combine/all/all.csv')
sort=df.dropna(axis=0, how='any')
sort

,ID,wt1,Assigned_gene_name,wt2,dcp2_1,dcp2_2,dhh1_1,dhh1_2,pat1_1,pat1_2,xrn1_1,xrn1_2
0,14,0.724458,YAL062W,0.751073,0.508108,0.486911,0.545455,0.349057,0.507092,0.530405,0.529412,0.601562
1,23,0.681529,YAL060W,0.650124,0.470760,0.433530,0.421288,0.299279,0.465381,0.513027,0.626263,0.576923
2,25,0.639464,YAL059W,0.603404,0.401290,0.332708,0.283109,0.208112,0.307276,0.348642,0.513986,0.432996
4,28,0.598039,YAL056W,0.552885,0.407801,0.334601,0.253968,0.175676,0.304348,0.344660,0.534653,0.505435
5,33,0.550332,YAL053W,0.573680,0.439851,0.417296,0.389851,0.322344,0.387070,0.433466,0.466667,0.447536
...,...,...,...,...,...,...,...,...,...,...,...,...
4972,13331,0.651685,YPL162C,0.691057,0.506958,0.425887,0.503226,0.327103,0.450000,0.444444,0.546778,0.593573
4973,13333,0.731250,YPL161C,0.720339,0.575758,0.576159,0.556962,0.401575,0.542484,0.628931,0.620321,0.621302
4974,13335,0.612371,YPL159C,0.696602,0.644208,0.637911,0.615091,0.539974,0.472956,0.554231,0.664865,0.680818
4975,13338,0.707317,YPL158C,0.748503,0.571429,0.436782,0.457364,0.252809,0.425806,0.549738,0.597222,0.642241
4978,13345,0.384817,YPL154C,0.462703,0.418992,0.423382,0.407634,0.320206,0.409932,0.424440,0.433151,0.437844

In [298]:
###Combine two pair
orig=pd.read_csv('./Data/list/combine/ID/combine/all/wt.csv')

def compare(file):
    file=pd.read_csv(file)
    df=orig.merge(file, on=['ID','Assigned_gene_name'],how='outer')
    return df

df=compare('./Data/list/combine/ID/combine/all/dcp2.csv')
df.to_csv('./Data/list/combine/ID/combine/all/pair/dcp2.csv',index=False)

In [299]:
###add avarage
df=pd.read_csv('./Data/list/combine/ID/combine/all/pair/dcp2.csv')
xrn=df.drop(df.columns[[2]],axis=1)
col = df.loc[: , "wt1":"wt2"]
xrn['wt_a'] = col.mean(axis=1)
col2 = df.loc[: , "dcp2_1":"dcp2_2"]
xrn['dcp_a']= col2.mean(axis=1)
xrn1=xrn.drop(xrn.columns[[1,2,3,4]],axis=1)
xrn1.to_csv('./Data/list/combine/ID/combine/all/pair/dcp2_a.csv',index=False)

In [327]:
import math
import numpy as np
df=pd.read_csv('./Data/list/combine/ID/combine/all/pair/xrn1_a.csv')
wt=df.loc[:,'wt_a']
dcp=df.loc[:,'xrn_a']
df['m/w']=round(dcp/wt,2)
df1=df.dropna(axis=0, how='any')

mw=df1.loc[:,'m/w']
df1['log']=np.log2(mw)

df1.to_csv('./Data/list/combine/ID/combine/all/pair/xrn1_l.csv',index=False)

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [364]:
import numpy as np
from scipy import stats
df=pd.read_csv('./Data/list/combine/ID/combine/all/pair/dhh1.csv')

N=2
wt1=df.loc[:,'wt1']
wt2=df.loc[:,'wt2']

error_a=np.std(wt, ddof = 1)

dhh1=df.loc[:,'dhh1_1']
dhh2=df.loc[:,'dhh1_2']
wt=[df['wt1'],df['wt2']]
dhh=[dhh1,dhh2]
var_wt=np.var(wt, ddof = 1)
var_dhh=np.var(dhh, ddof = 1)
s = np.sqrt((var_wt + var_dhh)/2)
mean_wt=np.average(wt,axis=0)
mean_dhh=np.average(dhh,axis=0)
t = (mean_wt - mean_dhh)/(s*np.sqrt(2/N))
dof = 2*N - 2
p = 1 - stats.t.cdf(t,df=dof)

var_wt

/opt/tljh/user/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0

nan

In [224]:
###Not work combine
df['wt2']=''
for i,row in add.iterrows():
    ID=row['ID']
    capping_add=row['wt2']
    gene=row['Assigned_gene_name']
    if ID in df.values:
        for j,row1 in df.iterrows():
            ID1=row1['ID']
            if ID1==ID:
                df.loc[j, 'wt2'] = capping_add
        continue

    else:
        df.append=[ID,'',gene,capping_add]

df

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/tljh/user/lib/python3.6/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

    ID       wt1 Assigned_gene_name       wt2
3   14  0.724458            YAL062W  0.751073
6   23  0.681529            YAL060W  0.650124
7   25  0.639464            YAL059W  0.603404
8   27      0.86            YAL058W
9   28  0.598039            YAL056W  0.552885
11  61                      YAL035W  0.829981
12  36  0.360248            YAL051W   0.42029
15  41       0.6          YAL044W-A  0.586795
16  42  0.873068            YAL042W   0.87459
17  46  0.265152            YAL041W  0.326693
10  52                      YAL038W  0.967696